.lander {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-style: normal;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
}
.first {
  background-image: url("../assets/home1-sale.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30%;
}
.holder {
  padding: 0px !important;
}
/* .appbar {
  --glow-color: rgb(255, 239, 194); 
  --glow-spread-color: rgba(255, 239, 194, 0.9);
  --enhanced-glow-color: rgb(255, 251, 230); 
  --btn-color: rgb(204, 153, 102);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.95em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
} */

.appbar::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.appbar:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.appbar:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.image_container {
  overflow: hidden;
  width: 35% !important;
  height: 10% !important;
  pointer-events: none;
}
.backgroundLanding{
  background-image: url(../../resources/bg_calm.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh !important;
}
.slick-next:before {
  content: "";
}.slick-prev:before{
  content: "";
}
.landing_carousel{
  backdrop-filter:blur(1px);
}
.Title3 {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: #151515;
  font-size: 3.0rem;
  margin-bottom: 1rem;
  
}.innerTitle3 {
  color: rgb(255, 0, 0);
}
.Title4 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
}.innerTitle4 {
  color: rgb(255, 0, 0);
}

.button_top {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button_top:hover .button_top {
  transform: translateY(-0.33em);
}

.button_top:active .button_top {
  transform: translateY(0);
}
